/* Fonts */
@import "@fontsource/old-standard-tt/400.css";
@import "@fontsource/old-standard-tt/700.css";
@import "@fontsource-variable/chivo";
@import "@fontsource/bungee-outline";
@import "@fontsource/bungee-hairline";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	color: hsl(191, 20%, 16%);
	background-color: hsla(191, 97%, 77%, 0.9);
}

body {
  overflow: hidden;
}

ul {
	/* @apply list-inside; */
}

li:not(:last-child) {
	/* margin-bottom: 5px; */
	@apply mb-5;
}

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	background-color: var(--color-gray-900, black);
	color: var(--color-white, white);
	width: auto;
	height: auto;
	padding: 8px;
	z-index: var(--z-overlay, 1000);
}
